.habits-list {
  height: 65vh;
  overflow-y: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.habits-list__container {
  display: grid;
  overflow-x: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media screen and (min-width: 960px) {
  .habits-list__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.habits-list__message {
  text-align: center;
}

.habits-list__message--no-search-results {
  text-align: center;
}

.habits-list__message--not-found {
  text-align: center;
}
